body {
    background-color: #fbf3ef;
    color: #682f0b;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th {
    text-transform: capitalize;
    width: 12.5%
}

td {
    width: 12.5%;
    border: 1px solid black;
}

button {
    background-color: antiquewhite;
    font-family: Verdana;
    color: #682f0b;
    font-size: larger;
}